.logo {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  color: #000;
  font-size: 22px;
  font-weight: 700;
  font-size: 0;

  &:before {
    // logo circle
    content: '';
    display: block;
    width: 47px;
    height: 47px;
    border: 2px solid #000;
    border-radius: 25px;
    margin-right: 16px;
  }

  &:after {
    // brand name
    content: '';
    display: block;
    width: 169px;
    height: 18px;
    background-image: url('../../../../assets/images/logo.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
  }
}
