<div class="container">
  <nav class="navigation">
    <ol class="navigation__list" *ngIf="navigation">
      <li class="navigation__item" *ngFor="let item of navigation">
        <a href="{{item.link}}" class="navigation__link png-icon png-icon_{{item.iconName}}" title="{{item.linkTitle}}">{{item.name}}</a>
      </li>
    </ol>
  </nav>
</div>