.navigation {
  padding: 20px 0 10px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    counter-reset: item;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }

  &__item {
    color: #000;
    padding: 5px 10px;
    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-bottom: 25px;
      }
    }
  }

  &__link {
    text-transform: uppercase;
    color: #000;
    font-size: 36px;
    font-weight: 500;
    display: flex;
    align-items: center;
    transition: color .2s ease-in-out;
    position: relative;
    @media (max-width: 767px) {
      margin-top: 56px;
      justify-content: center;
      text-align: center;
    }
    @media (max-width: 490px) {
      font-size: 32px;
    }

    &:active,
    &:focus,
    &:hover {
      color: #cd8200;
    }

    &:before {
      // icon
      order: -2;
      margin-right: .7222em;
      @media (max-width: 767px) {
        margin-right: 0;
        margin-bottom: .2em;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -110%);
      }
    }

    &:after {
      // number
      content: '0' counter(item)'. ';
      counter-increment: item;
      order: -1;
      margin-right: .3em;
    }
  }
}
