.promo {
  height: 409px;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  color: #fff;

  &__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    height: 100%;
    padding-top: 40px;
    padding-bottom: 40px;
    position: relative;
    
    @media (max-width: 767px) {
      align-items: center;
    }
  }

  &__ttl {
    text-shadow: 0 4px 10px black;
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      text-align: center;
    }
  }

  &__label {
    text-transform: uppercase;
    color: #fff;
    position: absolute;
    top: 0;
    right: 15px;
    width: 148px;
    height: 148px;
    overflow: hidden;
    border-radius: 74px;
    background-color: #e039a2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 26px;
    font-weight: 300;
    line-height: 28px;
    padding-top: 9px;
    transition: background-color .15s ease-in-out;

    &:hover {
      background-color: darken(#e039a2, 7%);
    }
  }

  &__discont {
    font-weight: 700;
    font-size: 36px;
  }

  &__action-btn {
    width: 191px;
    height: 44px;
    background-color: #dc8c00;
    font-size: 24px;
    font-weight: 600;
    border: 0;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
    transition: background-color .25s ease-in-out;

    &:active,
    &:focus:hover,
    &:hover {
      background-color: lighten(#dc8c00, 7%);
    }

    &:active:hover {
      padding-top: 3px;
    }
  }
}
