<section class="promo" style="background-image: url('assets/images/promo.jpg');">
  <div class="container promo__box">
    <a href="#" class="promo__label">SPECIAL OFFER! <strong class="promo__discont">50% OFF!</strong></a>
    <h1 class="promo__ttl">Ready to go?<br> Our cruise ship is waiting for you!</h1>
    <button class="promo__action-btn btn">Sign Up</button>
  </div>
</section>
