﻿@font-face {
	font-family: 'Open Sans';
	src: url('assets/fonts/opensans-300.eot');
	src: local('☺'),
		url('assets/fonts/opensans-300.eot') format('embedded-opentype'),
		url('assets/fonts/opensans-300.woff2') format('woff2'),
		url('assets/fonts/opensans-300.woff') format('woff'),
		url('assets/fonts/opensans-300.ttf') format('truetype'),
		url('assets/fonts/opensans-300.svg') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('assets/fonts/opensans-400.eot');
	src: local('☺'),
		url('assets/fonts/opensans-400.eot') format('embedded-opentype'),
		url('assets/fonts/opensans-400.woff2') format('woff2'),
		url('assets/fonts/opensans-400.woff') format('woff'),
		url('assets/fonts/opensans-400.ttf') format('truetype'),
		url('assets/fonts/opensans-400.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('assets/fonts/opensans-600.eot');
	src: local('☺'),
		url('assets/fonts/opensans-600.eot') format('embedded-opentype'),
		url('assets/fonts/opensans-600.woff2') format('woff2'),
		url('assets/fonts/opensans-600.woff') format('woff'),
		url('assets/fonts/opensans-600.ttf') format('truetype'),
		url('assets/fonts/opensans-600.svg') format('svg');
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: 'Open Sans';
	src: url('assets/fonts/opensans-700.eot');
	src: local('☺'),
		url('assets/fonts/opensans-700.eot') format('embedded-opentype'),
		url('assets/fonts/opensans-700.woff2') format('woff2'),
		url('assets/fonts/opensans-700.woff') format('woff'),
		url('assets/fonts/opensans-700.ttf') format('truetype'),
		url('assets/fonts/opensans-700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

html {
	height: 100%;
}

app-root {
	width: 100%;
	min-height: 100%;
	display: block;
}

body {
	font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
	font-size: 16px;
	font-weight: 400;
	min-width: 320px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #000;
	display: flex;
	flex-direction: column;
	min-height: 100%;
	position: relative;
	overflow-y: scroll;
	background-color: $main-bg;

	&.modal-open {
		overflow: hidden;
		height: 100%;

		@media (min-width: 768px) {
			padding-right: 17px;
		}
	}
}



.modal-scrollbar-measure {
	position: absolute;
	top: -9999px;
	width: 50px;
	height: 50px;
	overflow: scroll;
}

a,
button,
.btn {
	font-family: 'Poppins', 'Helvetica', 'Arial', sans-serif;
	outline: none !important;

	&:focus {
		outline: none !important;
	}
}

.container {
	padding-left: 15px;
	padding-right: 15px;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	box-sizing: border-box;
}

.posr {
	position: relative;
}

.hidden {
	&_md {
		@media (max-width: 767px) {
			display: none;
		}
	}

	&_xs {
		@media (max-width: 490px) {
			display: none;
		}
	}
}