﻿@font-face {
	font-family: "iconfont";
	src: url("../fonts/icomoon.eot");
	src: url("../fonts/icomoon.eot#iefix") format("embedded-opentype"),
	url("../fonts/icomoon.woff") format("woff"),
	url("../fonts/icomoon.ttf") format("truetype"),
	url("../fonts/icomoon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}

.icomoon() {
	font-family: 'iconfont';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon:before,
.icon:after {
	.icomoon();
}

