﻿.png-icon {
  &:before {
    content: '';
    display: inline-block;
    vertical-align: middle;
  }

  &_edit:before {
    width: 49px;
    height: 49px;
    background-image: url("assets/images/icons/edit.png");
  }

  &_yacht:before {
    width: 146px;
    height: 30px;
    background-image: url("assets/images/icons/yacht.png");
    margin-top: -5px;
  }
}
